<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8"/>
    <title>Home Page for {{screamIt pageOwner}}</title>
  </head>
  <body>
    {{> header}}
    <p>Welcome to {{screamIt pageOwner}}'s page</p>
    <p>{{pageOwner}}'s age is {{age}}</p>
    <p>{{pageOwner}}'s interest are {{likes}}</p>
    {{> footer}}
  </body>
</html>
